.container {
    display: grid;
    grid-template-columns: repeat(7, auto);
    text-align: center;
}

.container > div {
    height: 50px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: yellowgreen;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: brown;
}

.item3 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item4 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item7 {
    background-color: yellowgreen;
}

.item8 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
}

.item9 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: yellowgreen;
}

.item10 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: brown;
}

.item11 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
}

.item12 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
}

.item13 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: brown;
}

.item14 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 8;
}